@model Advyteam.Models.DemandeModel

<div>
    <hr />
        <div class="card b">
            <div class="card-header">
                <div class="float-right">
                    <div class="badge badge-info">@Html.DisplayFor(model => model.etat)</div>
                </div>
                <h4 class="m-0">Demande sur la mission </h4><small class="text-muted">Sed amet lectus id.</small>
            </div>
            
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Start date</strong></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong> Mr/Mme demande cette mission </strong></td>
                        <td> </td>
                    </tr>
                    
                    
                </tbody>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card-footer text-center">
                    <input type="submit" value="Delete" class="btn btn-secondary" /> 
                </div>
            }
            
           
        </div>
    

</div>
